.blog-list {
    text-align: center;
    display: flex;

    .list {
        flex-basis: 200px;
        ul {
            padding: 0;
            border-right: 1px solid lightgray;

            li {
                list-style: none;
                text-align: left;
                font-size: 14px;

                .create-date {
                    font-size: 12px;
                    color: lightgray;
                    margin: 0px 10px;
                }
                .blog-title {
                    margin: 0px 10px;
                }
            }
        }
    }
    .detail {
        flex-basis: 100%;
    }
}
