.blog-list {
    text-align: center;

  ul {
      padding: 0;
      
    li {
      list-style: none;

      .create-date {
        margin: 0px 10px;
      }
      .blog-title {
        margin: 0px 10px;
      }
    }
  }
}
