<div class="blog-list" fxLayout="row" fxLayout.lt-md="column">
    <div fxHide [fxHide.lt-md]="false" class="mobile-menu" [class.show]="isShowMobileList">
        <button mat-fab color="{{ isShowMobileList ? '' : 'accent' }}" (click)="isShowMobileList = !isShowMobileList"
            class="menu-btn">
            <mat-icon>
                {{ isShowMobileList ? 'close' : 'history' }}
            </mat-icon>
        </button>
        <div class="mobile-history" (click)="isShowMobileList = false">
            <ng-container *ngTemplateOutlet="list"></ng-container>
        </div>
    </div>
    <div fxShow [fxShow.lt-md]="false">
        <ng-container *ngTemplateOutlet="list"></ng-container>
    </div>
    <div class="detail">
        <app-blogs-detail *ngIf="selectedBlog" [blog]="selectedBlog"></app-blogs-detail>
    </div>
</div>

<ng-template #list>
    <div class="list" (click)="onClickList($event)">
        <h3 style="padding: 3px">history</h3>
        <ul *ngIf="blogs">
            <li *ngFor="let blog of blogs; let i = index">
                <p class="create-date">{{ blog.created_at | date: 'yyyy/MM/dd' }}</p>
                <a class="blog-title" [routerLink]="getBlogPageUrl(blog)" (click)="onClickBlog(i)">{{ blog.title }}</a>
            </li>
        </ul>
    </div>
</ng-template>