.about-page {
    text-align: center;

    .icon {
        border-radius: 50%;
        width: 100px;
        height: 100px;
    }

    .sns-links {
        display: flex;
        justify-content: center;

        .sns-item {
            padding: 10px;
            // width: 30px;
            height: 30px;

            img {
                // max-width: 100%;
                max-height: 100%;
            }

            .qiita {
                img {
                    height: 50px;
                }
            }
        }
    }

    .tab-item {
        padding: 20px;

        &.career {
            max-width: 95%;

            table {
                margin: auto;
                td {
                    vertical-align: top;
                    text-align: left;
                    padding: 5px 10px;

                    .project {
                        margin-bottom: 10px;

                        h4, p {
                            margin: 0;
                        }
                        .description {
                            margin-left: 10px;
                            width: 100%;
                            border-collapse: collapse;
                            border: 1px solid lightgray;

                            tr {
                                border-bottom: 1px solid lightgray;

                                th {
                                    padding: 5px;
                                    width: 120px;
                                    background-color: rgb(240, 240, 255);
                                    border-right: 1px solid lightgray;
                                }
                                td {
                                    padding: 5px;
                                }
                            }
                        }
                    }
                }
            }
        }

        &.skills {
            display: flex;
            justify-content: center;
            text-align: left;
        }

        &.qualifications {
            display: flex;
            justify-content: center;
            .wrapper {
                text-align: left;
            }
        }
    }
}
