.about-page {
    text-align: center;

    .sns-links {
        display: flex;
        justify-content: center;

        .sns-item {
            padding: 10px;

            .twitter {
            }
            .qiita {
            }
        }
    }

    .tab-item {
        padding: 20px;

        &.career {
            max-width: 95%;

            table {
                margin: auto;
                td {
                    text-align: left;
                    padding: 5px 10px;
                }
            }
        }
    }
}
