.about-page {
    text-align: center;

    .icon {
        border-radius: 50%;
        width: 100px;
        height: 100px;
    }

    .sns-links {
        display: flex;
        justify-content: center;

        .sns-item {
            padding: 10px;
            height: 30px;

            img {
                max-height: 100%;
            }

            &.lapras {
                padding: 5px;
                height: 40px;
                img {
                    height: 50px;
                }
            }
        }
    }

    .tab-item {
        padding: 20px;
    }
}
