<div class="about-page">
    <h1>てらしーとは</h1>

    <div class="sns-links">
        <div #twitter class="sns-item twitter">
            <a target="_blank" href="https://twitter.com/teracy55"> <img src="assets/img/Twitter_Social_Icon_Circle_Color.png" /></a>
        </div>
        <div class="sns-item qiita">
            <a target="_blank" href="https://qiita.com/teracy55"> <img src="assets/img/qiita-qiita-jobs-favicon.png" /></a>
        </div>
        <div class="sns-item github">
            <a target="_blank" href="https://github.com/teracy55"><img src="assets/img/GitHub-Mark-32px.png" /></a>
        </div>
    </div>
    ※連絡を取りたい場合はTwitterのDMにてお願いします※

    <mat-tab-group>
        <mat-tab label="経歴">
            <div class="tab-item career">
                <table>
                    <thead>
                        <tr>
                            <th>時期</th>
                            <th>内容</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>2021年02月〜</td>
                            <td>Webシステム開発（Laravel＋Vue）</td>
                        </tr>
                        <tr>
                            <td>2019年09月〜</td>
                            <td>Webシステム開発（Vue＋python）</td>
                        </tr>
                        <tr>
                            <td>2018年11月〜</td>
                            <td>自社勤怠システム構築（Angular＋NestJS）</td>
                        </tr>
                        <tr>
                            <td>2018年07月〜</td>
                            <td>
                                自社ECサイト構築（Angular）
                                <br />
                                合間にMonacaやCocosCreatorでモバイルアプリ開発
                            </td>
                        </tr>
                        <tr>
                            <td>2017年04月〜</td>
                            <td>ゲームプラットフォーム多言語化対応（Laravel／ZendFW）</td>
                        </tr>
                        <tr>
                            <td>2016年04月〜</td>
                            <td>生保系Webシステム開発（JavaEE）</td>
                        </tr>
                        <tr>
                            <td colspan="2">〜〜Web業界に異動〜〜</td>
                        </tr>
                        <tr>
                            <td>2013年04月〜</td>
                            <td>ナビ開発（C／C++）</td>
                        </tr>
                        <tr>
                            <td>2012年04月〜</td>
                            <td>車載メーター開発（C言語）</td>
                        </tr>
                        <tr>
                            <td>2011年10月〜</td>
                            <td>車載機器とBT連携するAndroidアプリの開発（Android2.3/3.0）</td>
                        </tr>
                        <tr>
                            <td colspan="2">〜〜組込み業界に異動〜〜</td>
                        </tr>
                        <tr>
                            <td>2011年09月</td>
                            <td>帳票出力システムの帳票追加対応（Java＋ApachPOI）</td>
                        </tr>
                        <tr>
                            <td>2011年04月〜08月</td>
                            <td>Java／Android研修</td>
                        </tr>
                        <tr>
                            <td>2011年04月</td>
                            <td>社会人デビュー</td>
                        </tr>
                        <tr>
                            <td>2011年</td>
                            <td>芝浦工業大学情報工学科卒</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </mat-tab>
        <mat-tab label="スキル">
            <div class="tab-item skills">
                <table>
                    <thead>
                        <tr>
                            <th>カテゴリ</th>
                            <th>熟練度</th>
                            <th>スキル</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let skill of skills">
                            <td>{{ skill.category }}</td>
                            <td>{{ skill.level }}</td>
                            <td>{{ skill.name }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </mat-tab>
        <mat-tab label="資格">
            <div class="tab-item qualifications">
                <div class="wrapper">
                    <ul>
                        <li>基本情報技術者試験</li>
                        <li>応用情報技術者試験</li>
                        <li>Androidアプリケーション技術者認定試験ベーシック</li>
                        <li>サーティファイC言語プログラミング能力認定試験1級</li>
                    </ul>
                </div>
            </div>
        </mat-tab>
    </mat-tab-group>
</div>
