@import '../top.component.scss';

.item {
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 2px 10px;
  
    .date {
        margin-right: 10px;
    }
    .item-title {
      white-space: nowrap;
    }
  }
  