.blog-detail {
    text-align: left;
    width: 100%;
    .title-area {
        //        text-align: center;
        margin: 20px 10px;
        padding-bottom: 10px;
        border-bottom: 1px solid;

        h1 {
            margin: 0;
        }
        .info {
            display: flex;
            justify-content: start;
            align-items: center;
            font-size: 14px;

            mat-icon {
                margin-right: 10px;
            }

            .date {
                display: flex;
                justify-content: start;
                align-items: center;
            }
            .tags {
                display: flex;
                justify-content: start;
                align-items: center;

                mat-icon {
                    margin-left: 20px;
                }

                .tag {
                    margin-right: 10px;
                }
            }
        }
    }

    .contents-area {
        padding: 10px 20px;

        div {
            max-width: 600px;
        }
    }
}
