.blog-detail {
    .title-area {
        text-align: center;
        margin: 20px 10px;
        border-bottom: 1px solid;

        h1 {
            margin: 0;
        }
        .date {
            font-size: 12px;
            color: lightgray;
        }
    }

    .contents-area {
        padding: 10px 20px;

        div {
            max-width: 600px;
        }
    }
}