<div class="page">
    <h1 class="title">Products</h1>
    <div *ngFor="let product of products" class="product">
        <mat-card>
            <mat-card-header>
                <mat-card-title>
                    <a *ngIf="product.url; else noneURL" [href]="product.url" target="_brank">{{ product.name }}</a>
                    <ng-template #noneURL>
                        {{ product.name }}
                    </ng-template>
                </mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <div [innerHTML]="product.description"></div>
            </mat-card-content>
        </mat-card>
    </div>
</div>
