<div class="page">
    <h1>Products</h1>
    <div style="display: flex; flex-direction: column; align-items: center">
        <div *ngFor="let product of products" class="product">
            <mat-card style="width: 600px; max-width: 95%">
                <mat-card-header>
                    <mat-card-title>
                        <a *ngIf="product.url; else noneURL" [href]="product.url" target="_brank">{{ product.name }}</a>
                        <ng-template #noneURL>
                            {{ product.name }}
                        </ng-template>
                    </mat-card-title>
                </mat-card-header>
                <mat-card-content>
                    <p>{{ product.description }}</p>
                </mat-card-content>
            </mat-card>
        </div>
    </div>
</div>
