@import '../../styles-valiables.scss';

img {
    width: 100vw;
}

.blog-title{
    h1 {
        position: absolute;
        color: white;
    }
}

.contents {
    display: inline-block;

    &.news {
        width: 35%;
    }
    &.qiita {
        width: 35%;
    }
    &.twitter {
        width: 30%;
    }
}

.top-contents {
    padding: 10px;
    height: 100%;

    .title {
        border-bottom: 1px solid;
    }
}
