<div *ngIf="!isInitializing" class="panel" [class.loading]="isLoading">
    <div class="blog-title">
        <h1 style="text-shadow: 2px 2px 3px lightgray">てらしーの部屋</h1>
        <img class="bg" [src]="imgUrl" (load)="onLoadedImage()" />
        <div class="about" routerLink="/about">
            <p class="text">てらしー とは</p>
            <img src="/assets/img/my-icon.png" />
        </div>
    </div>
    <div fxLayout="row" fxLayout.lt-sm="column">
        <div class="contents news" fxFlex="70">
            <app-top-news></app-top-news>

            <div class="qiita">
                <app-top-qiita></app-top-qiita>
            </div>
        </div>
        <div class="contents twitter" fxFlex>
            <app-top-twitter></app-top-twitter>
        </div>
    </div>
</div>
<div *ngIf="isLoading" class="loading-message">loading...</div>