@import '../../styles-valiables.scss';

img {
    width: 100%;
}

.blog-title{
    h1 {
        position: absolute;
        color: white;
    }
}

.contents {
    display: inline-block;
    margin-bottom: auto;

    &.news {
        width: 70%;
    }
    &.qiita {
        width: 100%;
    }
    &.twitter {
        width: 30%;
    }
}

.top-contents {
    padding: 10px;

    .title {
        border-bottom: 1px solid;
    }
}
